@font-face {
    font-family: 'Elysio';
    src: url('Elysio-LightItalic.woff2') format('woff2'),
        url('Elysio-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio Hairline';
    src: url('Elysio-Hairline.woff2') format('woff2'),
        url('Elysio-Hairline.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-BoldItalic.woff2') format('woff2'),
        url('Elysio-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Bold.woff2') format('woff2'),
        url('Elysio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Medium.woff2') format('woff2'),
        url('Elysio-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio Hairline';
    src: url('Elysio-HairlineItalic.woff2') format('woff2'),
        url('Elysio-HairlineItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-MediumItalic.woff2') format('woff2'),
        url('Elysio-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Light.woff2') format('woff2'),
        url('Elysio-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Thin.woff2') format('woff2'),
        url('Elysio-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Regular.woff2') format('woff2'),
        url('Elysio-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-RegularItalic.woff2') format('woff2'),
        url('Elysio-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-BlackItalic.woff2') format('woff2'),
        url('Elysio-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-Black.woff2') format('woff2'),
        url('Elysio-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Elysio';
    src: url('Elysio-ThinItalic.woff2') format('woff2'),
        url('Elysio-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

