doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/npm/@fortawesome/fontawesome-free/css/all.min.css')
        link(rel='stylesheet', href='/static/css/main.css')
        link(rel='stylesheet', href='/static/css/merge.css')
        meta(charset='utf-8')
    body
        div(class='container')
            form(id='uploadForm' enctype='multipart/form-data' action='/merge' method='POST')
                input(type='file' name='fileToMerge')
                input(type='submit' value='Upload')
        script(src='/npm/jquery/dist/jquery.js')
        script(src='/static/js/merge.js' type='application/javascript')