doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/static/css/stats.css')
        meta(charset='utf-8')
    body
        div(class=['container-fluid', 'h-100'])
            div(class=['row', 'h-80'])
                div(class=['col-1', 'team-col'])
                each team in teams
                    unless team.house == null
                        div(class=['col-2', 'team-col', team.house])
                            span TEAM
                            h1= team.house.toUpperCase()
                            span there #{team.count !== 1 ? 'are' : 'is'}
                            h2 #{team.count}
                            h4 #{team.collective}#{team.count !== 1 ? 's' : ''}
                            if team.count === 0 || team.totalCollDigi < 0
                                span the collection will
                                h2 NEVER
                                span get digitised at this rate!
                            else
                                span and it would take them
                                h2 #{team.totalCollDigi} YEAR#{team.totalCollDigi !== 1 ? 'S' : ''}
                                span to digitise the whole collection.
                            div(class='counter-container')
                                div(class='counter-inner')
                                    div(class=['counter-fill', team.house] id='counter-' +
                                                                              team.house)
                                        svg(class=['wave-shape', team.house])
                                            path
                            h2(class='points') #{team.score} points
                            input(type='hidden' class='team-score' value=team.score)
                div(class=['col-1', 'team-col'])
            div(class=['row', 'h-20', 'winners-row'])
                div(class=['col', 'team-col', superlatives.fastest.house])
                    div(class='winner-icon')
                        img(src='/static/images/noun_fast timer clock_2519440.svg' title='winning by counloucon from the Noun Project')
                    div
                        h1 #{superlatives.fastest.house.toUpperCase()}
                        h3 #{superlatives.fastest.averageTime}s per specimen
                div(class=['col', 'team-col', superlatives.mostInsects.house])
                    div(class='winner-icon')
                        img(src='/static/images/noun_Insect_1772914.svg' title='Insect by Eleanor Bell from the Noun Project')
                    div
                        h1 #{superlatives.mostInsects.house.toUpperCase()}
                        h3 #{superlatives.mostInsects.totalInsects} insects digitised
                div(class=['col', 'team-col', superlatives.winning.house])
                    div(class='winner-icon')
                        img(src='/static/images/noun_winning_2150607.svg' title='fast timer clock by counloucon from the Noun Project')
                    div
                        h1 #{superlatives.winning.house.toUpperCase()}
                        h3 #{superlatives.winning.score} points
                div(class=['col', 'team-col', superlatives.biggest.house])
                    div(class='winner-icon')
                        img(src='/static/images/noun_group_164792.svg' title='group by Felix Westphal from the Noun Project')
                    div
                        h1 #{superlatives.biggest.house.toUpperCase()}
                        h3 #{superlatives.biggest.count} #{superlatives.biggest.collective}#{superlatives.biggest.count !== 1 ? 's' : ''}
        script(src='/npm/jquery/dist/jquery.js')
        script(src='/static/js/vendor/jquery.keyframes.min.js')
        script(src='/static/js/wave.js')