doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/npm/@fortawesome/fontawesome-free/css/all.min.css')
        link(rel='stylesheet', href='/static/css/main.css')
        link(rel='stylesheet', href='/static/css/timer.css')
        meta(charset='utf-8')
    body
        div(class=['timers-container'])
            for i in [1,2,3,4]
                div(class='timer-group')
                    div
                        input(id='time' class='timer-value' value='00:00.0')
                        button(class=['timer-button', 'stopped'])
                    div
                        label(for='score' class='label-score') score
                        input(id='score' class='timer-score' value='1' type='number')

                    div(id='group' class='timer-houses')
                        button(value='pal') PAL
                        button(value='ent') ENT
                        button(value='min') MIN
                        button(value='bot') BOT
                        button(value='zoo') ZOO
                        button(value='none') NONE

                    div(class='stats show')
                        span(id='total-time')

                    div(class='person-id')
                        span your unique id is
                        h1(id='uid')
        div
            button(onclick="window.location.href = window.location.href") Reset
        script(src='/npm/jquery/dist/jquery.js')
        script(src='/static/js/timer.js' type='application/javascript')
