//$bot: #95c629;
//$ent: #f2ce3b;
//$min: #4593bc;
//$pal: #fc7c32;
//$zoo: #d33434;

$bot: #93d392;
$ent: #75a1cb;
$min: #8b7cba;
$pal: #8a8585;
$zoo: #f6be74;

$antibot: darken($bot, 30);
$antient: darken($ent, 30);
$antimin: darken($min, 30);
$antipal: darken($pal, 30);
$antizoo: darken($zoo, 30);

$bg-colour: black;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";