@import url('../fonts/stylesheet.css');

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Elysio, sans-serif;
}

.question, .result {
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

[type=radio] {
    position: absolute;
    top: -5000px;
}

[type=radio] + span {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

[type=radio]:checked + span {
    font-weight: bold;
    background: #FFCC00;
}

label:hover [type=radio] + span {
    background: orange;
    cursor: pointer;
}

.blocks span {
    display: inline-block;
}
.blocks h2 {
    text-align: center;
}

video {
    object-fit: cover;
}

.result {
    height: 100vh;
    text-align: center;
}

svg {
    height: 100%;
    max-width: 400px;
    position: relative;
    margin: auto auto 30px;
}

.number {
    color: white;
    background: black;
    border-radius: 2em;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    filter: drop-shadow(0 0 2px #000);
    border-width: 5px;
    border-style: solid;
    margin: 10px;
}

.question.image-blocks > div {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.question.image-blocks [type="radio"] + span {
    width: 250px;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
}

.question.image-blocks [type="radio"] + span p {
    margin: 0 auto;
    background: #fffa;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 20px;
    padding: 5px 5px 3px;
}

.question.text > div {
    text-align: center;
}

.question.text [type="text"] {
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #efefef;
    text-align: center;
    font-family: "Elysio", sans-serif;
    font-size: 18pt;
    padding: 10px 10px 5px;
}

.question.text [type="button"], .reset-button {
    margin: 5px;
    padding: 10px 10px 5px;
    border-radius: 10px;
    border: none;
    background: lightgreen;
    text-align: center;
    font-family: "Elysio", sans-serif;
    font-size: 15pt;
}

h3 {
    margin:0;
}