input, label, button {
  margin: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Elysio", sans-serif;
  padding: 10px 10px 3px;
}

.container {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}