@import "colours";
@import "fonts";

body {
  height: 100vh !important;
  background: $bg-colour;
  font-family: $title-font;
  font-size: 14pt;
  line-height: 1em;
}

h1, h2, h3, h4, h5 {
  white-space: nowrap;
}

h1, h2 {
  font-weight: bold;
  margin: 0.1em 0 -0.05em;
}

h1 {
  font-size: 4em;

}

h2 {
  font-size: 2.5em;
}

.h-100 {
  max-height: 100vh !important;
  overflow: hidden;
}

.points {
  position: absolute;
  bottom: 0.5em;
  background-color: #fff8;
  border-radius: 10px;
  padding: 5px 5px 2px;
}

.team-col {
  text-align: center;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  $border: 3px solid $bg-colour;

  .winners-row > & {
    flex-direction: row;
  }

  &:not(:first-child) {
    border-left: $border;
  }

  &:not(:last-child) {
    border-right: $border;
  }

  $alpha: 1;

  &.bot {
    background: rgba($bot, $alpha);
  }

  &.ent {
    background: rgba($ent, $alpha);
  }

  &.pal {
    background: rgba($pal, $alpha);
  }

  &.min {
    background: rgba($min, $alpha);
  }

  &.zoo {
    background: rgba($zoo, $alpha);
  }
}

.h-20 {
  height: 20% !important;
}

.h-80 {
  height: 80% !important;
}

.counter-mask {
  max-width: 100%;
}

// don't forget to change in index.js as well
$counter-width: 100%;
$counter-height: $counter-width;


.counter-container {
  position: relative;
  width: $counter-width;
  height: $counter-height;
  margin: 20px 20px 0;

  .counter-inner {
    width: $counter-width;
    height: $counter-height;
    mask: url('../images/hourglass.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-color: whitesmoke;
  }
}

.wave-shape {
  &.bot {
    fill: $antibot;
  }

  &.ent {
    fill: $antient;
  }

  &.pal {
    fill: $antipal;
  }

  &.min {
    fill: $antimin;
  }

  &.zoo {
    fill: $antizoo;
  }
}

.winners-row {
  border: 5px solid $bg-colour;
}

.winner-icon{
  height: 100%;
  text-align: left;
  flex: 0 1 50%;
  & > img {
    height: 120%;
    position: absolute;
    top: 0;
  }
  & + div {
    flex: 1 1 50%;
  }
}