@charset "UTF-8";
.timer-group {
  margin: 20px;
  text-align: center;
}

.timers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 90vh;
}
.timers-container + div {
  height: 10vh;
  text-align: center;
}
.timers-container + div button {
  padding: 10px 10px 5px;
  font-size: 16pt;
  background-color: lightgreen;
}

.timer-button {
  font-size: 24pt;
  height: 55px;
  padding: 10px 10px 3px;
}
.timer-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.timer-button.stopped {
  background-color: lightgreen;
}
.timer-button.stopped::before {
  content: "";
}
.timer-button.started {
  background-color: lightpink;
}
.timer-button.started::before {
  content: "";
}

.timer-value {
  width: 9em;
  background-color: #eee;
  font-size: 25pt;
  padding: 10px 10px 3px;
}

.label-score {
  vertical-align: text-bottom;
  font-size: 16pt;
}
.label-score::after {
  content: ":";
}

.timer-score {
  width: 3em;
  font-size: 25pt;
  padding: 10px 10px 3px;
}

.timer-houses button {
  font-size: 16pt;
  padding: 10px 10px 3px;
}
.timer-houses button[value=bot] {
  background-color: #93d392;
}
.timer-houses button[value=ent] {
  background-color: #75a1cb;
}
.timer-houses button[value=min] {
  background-color: #8b7cba;
}
.timer-houses button[value=zoo] {
  background-color: #f6be74;
}
.timer-houses button[value=pal] {
  background-color: #8a8585;
}
.timer-houses button[value=none] {
  background-color: #eee;
}

input, label, button {
  margin: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Elysio", sans-serif;
}

.person-id, .stats {
  font-size: 14pt;
  margin-top: 20px;
  padding: 20px 20px 10px;
  border-radius: 10px;
  display: none;
}
.person-id.show, .stats.show {
  display: block;
}

.person-id {
  background-color: #fff3cd;
}

/*# sourceMappingURL=timer.css.map */
