$bot: #93d392;
$ent: #75a1cb;
$min: #8b7cba;
$pal: #8a8585;
$zoo: #f6be74;

.timer-group {
  margin: 20px;
  text-align: center;
}

.timers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 90vh;
  & + div {
    height: 10vh;
    text-align: center;
    & button {
      padding: 10px 10px 5px;
      font-size: 16pt;
      background-color: lightgreen;
    }
  }
}

.timer-button {
  font-size: 24pt;
  height: 55px;
  padding: 10px 10px 3px;

  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  &.stopped {
    background-color: lightgreen;
    &::before {
      content: '\f04b';
    }
  }

  &.started {
    background-color: lightpink;
    &::before {
      content: '\f04d';
    }
  }
}

.timer-value {
  width: 9em;
  background-color: #eee;
  font-size: 25pt;
  padding: 10px 10px 3px;
}

.label-score {
  vertical-align: text-bottom;
  font-size: 16pt;
  &::after {
    content: ':';
  }
}

.timer-score {
  width: 3em;
  font-size: 25pt;
  padding: 10px 10px 3px;
}

.timer-houses {
  & button {
    font-size: 16pt;
    padding: 10px 10px 3px;

    &[value='bot'] {
      background-color: $bot;
    }
    &[value='ent'] {
      background-color: $ent;
    }
    &[value='min'] {
      background-color: $min;
    }
    &[value='zoo'] {
      background-color: $zoo;
    }
    &[value='pal'] {
      background-color: $pal;
    }
    &[value='none'] {
      background-color: #eee;
    }
  }
}

input, label, button {
  margin: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Elysio", sans-serif;
}

.person-id, .stats {
  font-size: 14pt;
  margin-top: 20px;
  padding: 20px 20px 10px;
  border-radius: 10px;
  display: none;
  &.show {
    display: block;
  }
}

.person-id {
  background-color: #fff3cd;
}